.td-one{
    height: 100px;width: 100px;
    background-color: black;
}
.td-two{
    height: 100px; width: 100px;
    background-color: white;
}
.body{
    background-color: rgb(171, 162, 152);
}
.class{
    background-color: white;
}
